.monaco-large {
    font-family: monaco, monospace;
}

* {
    background: rgb(245, 228, 213);
}

div {
padding-top: 0em;
padding-left: 6em;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    margin-top: 50px;
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.75em;
}

a:hover {
    color: rgb(79, 22, 185);
}