
* {
    background: rgb(245, 228, 213);
}

body {
    margin-left: 0px;
    margin-right: -8px;
    margin-top: -1.5em;
}

           
.flex {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
}

.cream {
    background: rgb(245, 228, 213);       
    color: rgb(10, 10, 10);        
}

.black {
    background: rgb(10, 10, 10);
    color: rgb(245, 228, 213);
}            

nav {
    margin-top: -1em;
}
          

.title {
    font-family: monaco, monospace;
    font-size: 2.25em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
            
.head {
    font-family: monaco, monospace;
    font-size: 1.75em;
    padding-left: 0.5em;
}

p {
    font-family: monaco, monospace;
    font-size: 1em;
    padding: 1em;
}

a {
    font-family: monaco, monospace;
    font-size: 1em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: rgb(10, 10, 10);    font-family: monaco, monospace;
    font-size: 1em;
    padding-bottom: 0.5em;
    text-decoration: none;
}

a:hover {
    color: burlywood;
}
                
