* {
    background: rgb(245, 228, 213);
    font-family: monaco, monospace;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -1.5em;
}

nav {
    margin-top: -1em;
}           

p {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    font-size: 1em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: rgb(97, 72, 5);
}

nav > a {
    color: rgb(10, 10, 10);
}

a:hover {
    color: burlywood;
}

.flex {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
}

.cream {
    background: rgb(245, 228, 213);       
    color: rgb(10, 10, 10);        
}

.black {
    background: rgb(10, 10, 10);
    color: rgb(245, 228, 213);
}         

.right {
    text-align: right;
}

.title {
    font-size: 2.25em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
            
.head {
    font-size: 1.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
              
.quote {
    font-style: italic;
    font-size: 1.4em;
    padding-left: 2em;
    padding-top: 1em;
}

.quoteRef {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 25em;
}

.smallprint {
    font-size: 0.8em;
}